::-webkit-scrollbar-track {
	background-color: #ffffff; /*Цвет скролла*/
} 
::-webkit-scrollbar-thumb { 
	border-radius: 6px; /*Закругление ползунка*/
	background-color: #979797; /*Цвет ползунка*/
} 
::-webkit-scrollbar { 
	width: 6px;  /*Толщина скролла*/
}